.topService {
  padding-top: 100px;

  @include mq(md) {
    padding-top: 70px;
  }

  &__title {
    color: $color-blue;
    font-size: 36px;
    line-height: 1.333;
    display: block;
    width: 360px;
    margin: 0 auto;
    border-bottom: 2px dotted $color-blue;
    padding-bottom: 8px;
    text-align: center;

    @include mq(md) {
      width: 245px;
      font-size: 24px;
    }
  }

  &__lead {
    margin-top: 11px;
    color: $color-blue;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 74px;

    @include mq(md) {
      display: block;
      margin-top: 50px;
    }
  }

  &__box {
    flex-basis: 31%;
    text-align: center;

    @include mq(md) {
      padding: 0 15px;

      & + & {
        margin-top: 70px;
      }
    }
  }

  &__img {
    height: 360px;
    object-fit: cover;
    font-family: 'object-fit: cover;';

    @include mq(md) {
      height: 245px;
    }
  }

  &__serviceName {
    font-size: 30px;
    line-height: 1.4;
    margin-top: 35px;

    @include mq(md) {
      font-size: 20px;
      margin-top: 25px;
      line-height: 1.6;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 2;
    margin-top: 24px;

    @include mq(md) {
      margin-top: 14px;
    }

    @include mq(sm) {
      text-align: left;
    }
  }

  &__link {
    margin-top: 20px;
    color: $color-blue;
    border: 2px solid $color-blue;
    border-radius: 24px;
    display: inline-block;
    padding: 6px 70px;
    font-size: 16px;
    line-height: 1.875;
    font-weight: bold;
    transition: all 0.4s;

    &:hover {
      color: #fff;
      background-color: $color-blue;
    }
  }
}
