- var path = "./";
footer.footer
  .wrap
    .footer__content
      .footer__info
        .footer__logo
          img(src=`${path}img/bb-white.svg`, alt="").footer__logoImg
          p.footer__name Lorem Ipsum Company
        p.footer__address
          |〒123-4567<br>
          |Lorem, ipsum dolor sit amet consectetur adipisicing.<br>
          a(href="#").footer__phone 0000-0000-0000
      .footer__sns
        a(href="#").footer__snsIcon
          i(aria-hidden="true").fa.fa-twitter
        a(href="#").footer__snsIcon
          i(aria-hidden="true").fa.fa-facebook-square
        a(href="#").footer__snsIcon
          i(aria-hidden="true").fa.fa-instagram
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js")
script(src=`${path}js/wow.min.js`)
script(src=`${path}js/ofi.min.js`)
script(src=`${path}js/main.js`)
