- var path = "./";
include ./_include/_head.pug
  title Lorem Ipsum Company
body
  include ./_include/_header.pug
  main
    .topMainImg
      .swiper-container
        .swiper-wrapper
          .swiper-slide.swiper-slide--1
          .swiper-slide.swiper-slide--2
          .swiper-slide.swiper-slide--3
      .topMainImg__text
        h2.topMainImg__lead.wow.fadeIn Lorem ipsum dolor sit amet consectetur.
        h1.topMainImg__title.font-en.wow.fadeIn Lorem Ipsum Company
    section.topOverview#about
      .wrap
        h2.topOverview__title.wow.fadeInDown Lorem ipsum dolor sit amet<br>Loremipsum dolor
        p.topOverview__lead.wow.fadeInDown Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate suscipit nam error rem totam. Alias voluptatum expedita ducimus voluptatem, vel ipsum rem architecto repudiandae soluta unde, tempore, adipisci odio eaque!
    section.topService#service
      .wrap
        h2.topService__title.wow.fadeInDown Service
        p.topService__lead.wow.fadeInDown Lorem, ipsum dolor
        .topService__content
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/office.jpg`, alt="").topService__img
            h3.topService__serviceName Lorem<br>Ipsum Ipsum
            p.topService__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quos at error corrupti excepturi soluta fugit aliquam iste, quam consectetur.
            a(href="#").topService__link LOREM
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/manage.jpg`, alt="").topService__img
            h3.topService__serviceName Lorem<br>Ipsum Ipsum
            p.topService__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quos at error corrupti excepturi soluta fugit aliquam iste, quam consectetur.
            a(href="#").topService__link LOREM
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/research.jpg`, alt="").topService__img
            h3.topService__serviceName Lorem<br>Ipsum Ipsum
            p.topService__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quos at error corrupti excepturi soluta fugit aliquam iste, quam consectetur.
            a(href="#").topService__link LOREM
    section.topContact#contact
      .wrap
        .topContact__content
          .topContact__info
            h2.topContact__title Contact
            p.topContact__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ducimus temporibus velit doloremque dicta autem consequatur, nesciunt quasi fugit nisi ipsam asperiores quam ut at, distinctio recusandae omnis saepe quia!
          form.topContact__form
            input(type="text", placeholder="Name")
            input(type="email", placeholder="Email")
            textarea(name="", placeholder="Message")
            button(type="submit").topContact__submit Send
  include ./_include/_footer.pug
