- var path = "./";
include ./_include/_head.pug
  title Lorem Ipsum Company
body
  include ./_include/_header.pug
  main
    .topMainImg
      .swiper-container
        .swiper-wrapper
          .swiper-slide.swiper-slide--1
          .swiper-slide.swiper-slide--2
          .swiper-slide.swiper-slide--3
      .topMainImg__text
        h2.topMainImg__lead.wow.fadeIn 条件 k > 2 は収束のために必要である
        h1.topMainImg__title.font-en.wow.fadeIn Lorem Ipsum Company
    section.topOverview#about
      .wrap
        h2.topOverview__title.wow.fadeInDown イデアル群は S 上に入らない素<br>イデアル上の自由アーベル群となる
        p.topOverview__lead.wow.fadeInDown そうでない場合は 1 であるようなイデールのクラスへ写すことにより、IS からイデアル類への写像 Π を定義することができる。χ を Π と ψ の合成とすると、χ はイデアル群上の指標としてうまく定義できる。
    section.topService#service
      .wrap
        h2.topService__title.wow.fadeInDown Service
        p.topService__lead.wow.fadeInDown Lorem, ipsum dolor
        .topService__content
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/office.jpg`, alt="").topService__img
            h3.topService__serviceName 全複素平面<br>有理型接続
            p.topService__description 主イデアル上の座と、無限での座を含む全ての例外有限集合の上で 1 である単円の上への写像を取ることで、イデール類群の指標 ψ を考える。
            a(href="#").topService__link LOREM
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/manage.jpg`, alt="").topService__img
            h3.topService__serviceName 全複素平面<br>有理型接続
            p.topService__description 主イデアル上の座と、無限での座を含む全ての例外有限集合の上で 1 である単円の上への写像を取ることで、イデール類群の指標 ψ を考える。
            a(href="#").topService__link LOREM
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/research.jpg`, alt="").topService__img
            h3.topService__serviceName 全複素平面<br>有理型接続
            p.topService__description 主イデアル上の座と、無限での座を含む全ての例外有限集合の上で 1 である単円の上への写像を取ることで、イデール類群の指標 ψ を考える。
            a(href="#").topService__link LOREM
    section.topContact#contact
      .wrap
        .topContact__content
          .topContact__info
            h2.topContact__title Contact
            p.topContact__text そのような函数は k 次の斉次多項式である。斉次多項式の全体は実際には P(V) 上の函数ではないのだから、P(V) の函数が記述する幾何学的な内容を、本当に斉次多項式が記述できるのかと考えるのは自然である。
          form.topContact__form
            input(type="text", placeholder="Name")
            input(type="email", placeholder="Email")
            textarea(name="", placeholder="Message")
            button(type="submit").topContact__submit Send
  include ./_include/_footer.pug
