- var path = "./";
include ./_include/_head.pug
  title BBアシスタントカンパニー
body
  include ./_include/_header.pug
  main
    .topMainImg
      .swiper-container
        .swiper-wrapper
          .swiper-slide.swiper-slide--1
          .swiper-slide.swiper-slide--2
          .swiper-slide.swiper-slide--3
      .topMainImg__text
        h2.topMainImg__lead.wow.fadeIn 縁の下の力持ちとしてお仕事を支えます
        h1.topMainImg__title.font-en.wow.fadeIn BB Assistant Company
    section.topOverview
      .wrap
        h2.topOverview__title.wow.fadeInDown ビジネスアシスタントとして<br>サポートを続けて20年
        p.topOverview__lead.wow.fadeInDown
          |プロのビジネスアシスタントとして独立後、さまざまなお客様からご依頼をいただき、多様な業務、<br class="pc-only">
          |事業、効率化などのサポートを行ってきました。得意分野が多岐にわたるスタッフが揃っていますの<br class="pc-only">
          |で、必要に応じてどのような業務にも対応いたし、雑事に振り回されることなく、重要な案件に取り<br class="pc-only">
          |組んでいただくことを目指しています。
    section.topService
      .wrap
        h2.topService__title.wow.fadeInDown アシスタントサービス
        p.topService__lead.wow.fadeInDown 私達にできること
        .topService__content
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/office.jpg`, alt="").topService__img
            h3.topService__serviceName オフィス業務<br>サポート
            p.topService__description
              |書類管理、電話・メール応対、スケジュール管理、<br class="pc-only">
              |デジタルトランスフォーメーションなど、さまざまな<br class="pc-only">
              |オフィス業務のサポートを行います。
            a(href="#").topService__link OFFICE
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/manage.jpg`, alt="").topService__img
            h3.topService__serviceName マネージメント<br>サポート
            p.topService__description
              |プロジェクトチームの構成メンバーのマネージメン<br class="pc-only">
              |ト、案件の進捗管理、リーダーのアシスタントサ<br class="pc-only">
              |ポートなどを行います。
            a(href="#").topService__link MANAGEMENT
          .topService__box
            .topService__imgBox.wow.fadeInDown
              img(src=`${path}img/research.jpg`, alt="").topService__img
            h3.topService__serviceName 調査・研究<br>サポート
            p.topService__description
              |各種事業の立ち上げ、運営にかかわる調査・研究の<br class="pc-only">
              |サポートや、特定分野の専門家との提携のお手伝い<br class="pc-only">
              |などを行います。
            a(href="#").topService__link RESEARCH
    section.topContact
      .wrap
        .topContact__content
          .topContact__info
            h2.topContact__title お問い合わせ
            p.topContact__text
              |もっと業務を効率化したい<br>
              |マネージメントの煩わしさから開放されたい<br>
              |本業に集中したいなどなど、<br>
              |些細なことでもお気軽にお問い合わせください。
          form.topContact__form
            input(type="text", placeholder="名前")
            input(type="email", placeholder="メールアドレス")
            textarea(name="", placeholder="メッセージを入力してください。")
            button(type="submit").topContact__submit 送信
  include ./_include/_footer.pug
