body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #333333;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
  border-style: none;
}

ul {
  list-style: none;
}

.wrap {
  max-width: 1280px;
  padding: 0 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.wow {
  visibility: hidden;
}

@include mq(sm) {
  .pc-only {
    display: none;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.font-en {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック",
    "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
